input, select, button {
    border: none;
}

.hide {
    display: none;
    opacity: 0;
    transition: all 1s;
}

.disappear {
    animation: fade-out 1s;
}

.welcome {
    background-color: lightskyblue;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px 60px;
    text-align: center;
}

.welcome-title {
    font-weight: 700;
    font-size: 40px;
}

.welcome-text {
    padding: 30px 0 40px;
}

.welcome input {
    padding: 15px 20px;
    border-radius: 10px;
}

.welcome-input__name {
    width: calc(100% - 40px);
}

.account {
    padding: 15px 0 60px;
}

#bank {
    padding: 15px;
    border-radius: 10px;
}

.enter {
    background-color: lightyellow;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}